canonicaljson==1.4.0
click==7.1.2
cryptography==3.3.2
Flask-restplus==0.13.0
Flask-Testing==0.7.1
Flask==1.1.2
google-api-python-client==2.42.0
google-cloud-pubsub==2.11.0
google_cloud_storage==1.29.0
gsutil==4.46
gunicorn==19.9.0
Jinja2==3.0.3
mypy-extensions==0.4.3
PyJWT==2.4.0
PyMySQL==1.0.2
pyOpenSSL==20.0.1
python-dateutil==2.8.1
PyYAML==6.0.1
redis==3.5.3
requests==2.25.0
toml==0.10.2
Werkzeug==0.16.1
# https://itsdangerous.palletsprojects.com/en/2.1.x/changes/#version-2-1-0
itsdangerous==2.0.1
# https://markupsafe.palletsprojects.com/en/2.1.x/changes/#version-2-1-0
MarkupSafe==2.0.1
# required by gcs-oauth2-boto-plugin by gsutil, but overridden by google_cloud_storage
rsa==4.7.2
